/* ========================================================================== */
/*   BASIC SETUP                                                              */
/* ========================================================================== */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    box-sizing: border-box;
    background: #252839;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color:#fff;
    font-size: 20px;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.863)), url('https://i.pinimg.com/originals/10/12/95/1012955654b58ab293ff7ace4934d486.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
  
  
/* ========================================================================== */
/*   REUSABLE COMPONENTS                                                      */
/* ========================================================================== */
    
  
/* ---------- HEADINGS ---------- */
  
h1 {
    margin: 0px 60px 0 60px;
    font-size: 150%; 
    padding-bottom: 30px;
}
  
h2 {
    font-size: 100%;
    margin: 35px 0;
}
  
h1, h2 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 7px;
    text-transform: uppercase;
}
  
/* ---------- ICONS ---------- */
  
.icon {
    font-size: 600%;
    display: block;
    color: #fff;
    margin: auto;
}
  
/* ---------- BUTTONS ---------- */
  
button {
    margin-top: 20px;
    width: 218px;
    height: 48px;
    background: #E61313;
    font-size: 100%;
    color: #fff;
    border: .5px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}
  
.start-button {
    background-color: #E61313;
    border: .5px solid #fff;
    color: #fff;
    font-size: 90%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 5px;
    margin-top: 30px;
    cursor: pointer;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
  
.start-button:hover, .start-button:focus {
    background-color: #fff;
    color: #E61313;
    border: .5px solid #fff;
}

.flag {
    width: 89.7%;
    margin: 0 auto;
    height: 40px;
    background-color: #fff;
    background-image: linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(-45deg, #000000 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #000000 75%), linear-gradient(-45deg, transparent 75%, #000000 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
  
  
/* ========================================================================== */
/*   START PAGE                                                               */
/* ========================================================================== */
  
  
.start-quiz {
    width: 90%;
    margin: 100px auto;
    text-align: center;
    padding-bottom: 50px;
    color: #b5b5b5;
}
  
  
/* ========================================================================== */
/*   QUIZ FORM                                                                */
/* ========================================================================== */
  
  
.questionsForm, .resultsForm {
    display: none;
    text-align: center;
    padding-bottom: 50px;
    margin: 30px auto 0 auto;
    text-align: center;
    width: 80%;
}
  
.question-number, .score {
    font-size: 150%;
    color: #b5b5b5;
    margin: 10px;
}
  
.questionForm {
    margin: 30px auto 30px auto;
}

/* ---------- ANSWERS ---------- */

label {
    border: 1px solid #b5b5b5;
    width: 45%;
    margin: 10px auto;
    font-size: 90%;
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    display: flex;
}

label:hover, label:focus {
    background-color: #326ff2;
}

fieldset {
    border: none;
}

.answerOptionText {
    margin: 0 auto;
}

input[type="radio"] {
    visibility:hidden;
}
    
.highlight {
    background: #326ff2;
    color:#fff;
}


/* ========================================================================== */
/*   FEEDBACK FORM                                                            */
/* ========================================================================== */


.correctFeedback {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px
}

.wrongFeedback {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px
}

.feedBackText {
    margin: 20px 0;
}
  
/* ========================================================================== */
/*   RESULTS FORM                                                             */
/* ========================================================================== */
  
  
.resultsForm {
    padding-top: 40px;
    font-size: 150%;
    color: #b5b5b5;
}

.comment {
    margin: 20px;
}


/* ========================================================================== */
/*   MEDIA QUERIES                                                            */
/* ========================================================================== */


@media only screen and (max-width: 600px) {
    body {
        font-size: 15px;
    }

    .icon {
        font-size: 400%;
    }

    .start-quiz {
        width: 95%;
        margin: 50px auto;
    }

    label {
        width: 90%;
    }

    button {
        height: 30px;
        width: 180px;;
    }
}